.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    
}

.companyBG{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;

}

.contTitle{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 1000;
    font-size: 20px;
    align-items: center;
    width: 100%;
    padding: 40px 20px;
    color: #2961E2;
    
}

.content{
    width: 900px;
    padding: 20px;
    text-align: justify;
    color:rgb(48, 48, 48);
    margin-bottom: 50px;
}

.companyScope{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    padding: 50px 10%;

    background:
		linear-gradient(90deg, white (20px - 2px), transparent 1%) center,
		linear-gradient(white (20px - 2px), transparent 1%) center,
		rgba(128, 128, 128, 0.486);
	background-size: 20px 20px;
}

.objective{
    flex: 1 1 300px;

    background-color: rgba(219, 219, 253, 0.2);   
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    padding: 20px 10px;
    text-align: center;
    
}

.mission{
    flex: 1 1 300px;

    background-color: rgba(219, 219, 253, 0.2);   
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    padding: 20px 10px ;
    text-align: center;
}

.vission{
    flex: 1 1 300px;

    background-color: rgba(219, 219, 253, 0.2);   
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    padding: 20px 10px;
    text-align: center;
}

.scopeTitle{
    font-weight: 1000;
    font-size: 20px;
}

.sContent{
    padding-top: 20px;
}

.chartTitle{
    width: 100%;
    padding: 40px 10px;
    height: fit-content;
    text-align: center;
    /* background-color: rgba(54, 199, 243, 0.2);   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    border-radius: 16px; */
    font-weight: 900;
    font-size: 20px;

    color: #2961E2;
}

.chart{
    background-color: rgba(219, 219, 253, 0.2);   
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    height: 500px;
    width: 100%;
}

svg node text:nth-child(2) {
    margin: 10px 0;
}

[data-n-id] rect {
    filter: none
 }

[data-n-id] rect:hover {
    filter: drop-shadow( 4px 5px 5px #244bcc7a);
    transition: all 0.2s;
 }