.container {
    .header {
        margin-bottom: 3rem;
        .title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .subtitle {
            font-size: 1rem;
        }
    }
}

.charts {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

@media screen and (max-width: 757px) {
    .header {
        margin-bottom: 2rem;
    }

    .title {
        font-size: 1.5rem !important;
        margin-bottom: 0.3rem !important;
    }
    .subtitle {
        font-size: .9rem !important;
    }
}