.container, .averages {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .subtitle {
            font-size: 1rem;
        }

        margin-top: 30px;
        &:first-child {
            margin-top: 0;
        }
    }
}

.body {
    margin-top: 30px;
}

.charts {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

@media screen and (max-width: 757px) {
    .header {
        margin-bottom: 2rem;

        width: 100%;
        flex-direction: column;

        gap: 20px;

        div {
            flex: 1 1 100%;

            width: 100%;
        }
    }

    .title {
        font-size: 1.5rem !important;
        margin-bottom: 0.3rem !important;
    }
    .subtitle {
        font-size: .9rem !important;
    }
}