.content {
    margin-left: 200px;

    width: calc(100% - 200px);
    padding: 50px;

    transition: .3s all;
}

.topbar {
    margin-left: 200px;

    width: calc(100% - 200px);

    height: 75px;

    display: flex;
    align-items: center;

    transition: .3s all;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;

    transition: .3s all;

    height: 100vh;
    width: fit-content;
}

.botnavbar {
    z-index: 999;

    display: none;

    position: fixed;
    bottom: 0;
    right: 0;

    width: 50%;
    height: 55px;

    background: #2961E2;

    box-shadow: 0px 0px 20px 0px #2179FFFF;

    display: flex;

    justify-content: center;
    align-items: center;

    gap: 30px;

    border-radius: 20px 0 0 0;

    .item {
        & div > * {
            color: white !important;
        }

    }
}

/* change class when width less than 757px */
@media screen and (max-width: 757px) {
    .content {
        margin-left: 0;
        width: 100%;

        padding: 30px;
    }

    .topbar {
        margin-left: 0;
        width: 100%;
    }

    .navbar {
        left: -200px;
    }

    .botnavbar {
        display: flex !important;
    }
}