.content {
    position: relative;
    margin-left: 200px;

    width: calc(100% - 200px);
    padding: 50px;

    transition: .3s all;

    & > div:nth-child(2) {
        position: relative;
        z-index: 2;
    }
}

.bg {
    position: fixed;
    top: 50px;
    left: 200px;

    height: calc(100vh - 50px);
    width: calc(100vw - 200px);

    background-image: url('/static/img/background-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: grayscale(1);
    opacity: .3;

    z-index: 1;
}

.topbar {
    position: sticky;
    top: 0;
    right: 0;

    margin-left: 200px;

    width: calc(100% - 200px);

    height: fit-content;

    transition: .3s all;

    z-index: 3;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;

    transition: .3s all;

    height: 100vh;
    width: fit-content;
}

.botnavbar {
    z-index: 999;

    display: none;

    position: fixed;
    bottom: 0;
    right: 0;

    width: fit-content;
    height: 55px;

    background: #2961E2;

    box-shadow: 0px 0px 20px 0px #2179FFFF;

    justify-content: center;
    align-items: center;

    gap: 30px;

    padding: 0 30px;

    border-radius: 20px 0 0 0;

    .item {
        transition: .3s all;

        &.active{
            transform: scale(1.5);
            & div > * {
                color: white;
            }
        }
        & div > * {
            color: rgba(255, 255, 255, 0.432);

        }

    }
}

/* change class when width less than 757px */
@media screen and (max-width: 757px) {
    .content {
        margin-left: 0;
        width: 100%;

        padding: 30px;
    }

    .topbar {
        margin-left: 0;
        width: 100%;
    }

    .navbar {
        left: -200px;
    }

    .botnavbar {
        display: flex;
    }

    .bg {
        left: 0;
        width: 100vw;
    }
}