.averages {
	display: flex;
	flex-direction: column;

	margin-top: 30px;

	gap: 20px;

	.item {
		.title {
			margin-bottom: 10px;

			font-size: 20px;
			font-weight: bold;
		}
	}
}

.body {
	display: flex;
	flex-direction: column;

	gap: 20px;
}

.avrTable {
    position: relative;

	width: 100%;

	display: flex;
	flex-direction: column;

	background: white;

	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

	overflow: hidden;
	overflow-x: auto;

	.header {
		display: flex;

		width: 100%;
        min-width: 550px;

		& > div {
			text-align: center;
			font-weight: bold;
			color: #383bfa;
		}

		padding: 12px 20px;

		/* border-bottom: 2px solid rgba(136, 136, 136, 0.185); */

		& > div:nth-child(1) {
			flex: 1 0 30%;
			text-align: left;
		}
		& > div:nth-child(2) {
			flex: 0 0 80px;
		}
		& > div:nth-child(3) {
			flex: 0 0 80px;
		}
		& > div:nth-child(4) {
			flex: 0 0 80px;
		}
		& > div:nth-child(5) {
			flex: 0 0 80px;
		}
		& > div:nth-child(6) {
			flex: 0 0 80px;
		}
	}

	.data {
		display: flex;
		flex-direction: column;

        min-width: 550px;
        max-height: 300px;

		overflow-y: auto;

		.dataRow {
			display: flex;

			width: 100%;
			padding: 5px 20px;

			&:nth-child(odd) {
				background: #f5f5f5;
			}

			& > div {
				text-align: center;

				font-size: .8rem;

			}

			& > div:nth-child(1) {
				flex: 1 0 30%;
				text-align: left;
			}
			& > div:nth-child(2) {
				flex: 0 0 80px;
			}
			& > div:nth-child(3) {
				flex: 0 0 80px;
			}
			& > div:nth-child(4) {
				flex: 0 0 80px;
			}
			& > div:nth-child(5) {
				flex: 0 0 80px;
			}
			& > div:nth-child(6) {
				flex: 0 0 80px;
			}

			.label {
				display: flex;
				flex-direction: column;
				gap: 5px;

				.name {
					font-size: 1rem;
					font-weight: bold;
				}
				.date {
					padding-left: 10px;
					opacity: .7;
				}
			}
		}
	}
}

@media screen and (max-width: 570px) {
	.avrTable {
		overflow-x: scroll;

		.header {
			width: 100%;

			border-bottom: 2px solid rgba(136, 136, 136, 0.185);
		}
		.data {
			& > div {
				flex: 1 1 100%;
				text-align: center;
			}
		}
	}
}
