

.bar {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #2961E2;

    .head {
        padding: 0 30px;

        display: flex;
        align-items: center;
        gap: 10px;

        .title {
            text-transform: capitalize;
            color: white;
            font-weight: bold;
        }
    }

    .user-action {
        /* TODO: Logout */
        display: none !important;

        padding: 0 20px;

        display: flex;
        align-items: center;
        gap: 20px;

        color: white;

        .logout {
            display: flex;

            align-items: center;

            gap: 10px;

            font-size: .9rem;
            padding: 5px 10px;
            
            color: #2961E2;
            background: white;

            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;

            background: #FFF;


            transition: .3s all;
            &:hover {
                cursor: pointer;
                transform: scale(1.1)
            }
        }
    }
}

@media screen and (max-width: 757px) {
    .title {
        font-size: 12px;
    }
}